* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}


/* Header ------------------------------------ */
header {
    display: flex;
    width: 100%;
    height: 150px;
    flex-direction: column row;
    justify-content: space-between;
    /* background-image:url(./imagens/matrix.jpg) ; */
    background-color: #0D080B;
    align-items: center;
}

h1 {
    font-family: 'MrRobot', sans-serif;
    font-weight: 300;
    color: #df2d2f;
    padding-left: 15px ;
    font-size: 100px;
}

h1:hover {
    font-size: 105px;
    transition: 0.6s;
}


nav>ul {
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding: 10px 20px 10px 10px;


}

nav>ul>li>a {

    color: #df2d2f;
    font-family: 'MrRobot', sans-serif;
    font-weight: 200;
    font-size: 40px;
}

nav>ul>li>a:hover {
    font-size: 45px;
    transition: 0.6s;
}

/* Sobre mim-------------------------------------------- */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #BF2441;
    color: #0D080B;
    padding: 5px;
    font-family: 'Roboto Slab', serif;
}

img {
    display: block;
}
img:hover {
    scale: 105%;
    transition: .5s;
}

#resumo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    font-size: 30px;
    background-color:#0D080B ;
    color: #BF2441;
    height: auto;
    
}
.paragrafo-resumo {
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
    border: 2px solid #0D080B;
    line-height: 60px;
    text-align:center;
    padding: 10px 500px;
}



h2 {
    text-align: center;
    /* background-color: #260101; */
    color: #ffff
}
/* interesses ----------------------------------------------- */

#hobbie {
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items:center;
    text-align: center;
    font-size: 30px;
    height:500px ;
    gap:70px;
}



.lista-hobbie  {
    line-height: 40px;
}
/* formulario------------------------------------------------- */

#formulario {
    background-color:#0D080B ;
    width: 100%;
    height: 500px;
    font-size: 30px;
}

fieldset {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90%;
    gap: 30px;
    
}

form {
    gap: 20px;
    color: #ffff;
}

#mensagem {
    height: 70px;
    display: flex;
}

